.popFullPlot {
    max-width: 50%; 
}


.popMovieJson {
	max-width: 90%; 
}

.poster {
	width : 50%;
}

.poster img {
	max-height: 300px;
}

.movieInfo {
	width : 50%;
	
}
span.title  {
	font-size: 1.2em;
	font-weight: bold;
}

span.action:hover {
	text-decoration: underline;
}

span.genre {
	color : YellowGreen;
}

span.cast {
	color : RoyalBlue;
}
div.movie {
	border: #bee5eb 1px solid;
}

td.poster {
	width : 25%;
}

.plot {
	font-style: italic;
	font-size: 0.9em;
}