.popFullPlot {
    max-width: 50%; 
}


.popMovieJson {
	max-width: 90%; 
}



@media only screen and (min-width: 801px) {
	td.poster img {
		max-height : 400px;
	}
	td.poster {
		width : 30%;
		/*background-color: lightblue;*/
	}
}

@media only screen and (max-width: 800px) {
	td.poster {
		width : 50%;
		/*background-color: red;*/
	}
}


span.title  {
	font-size: 1.2em;
	font-weight: bold;
}

span.action:hover {
	text-decoration: underline;
}

span.genre {
	color : YellowGreen;
}

span.cast {
	color : RoyalBlue;
}
div.movie {
	border: #bee5eb 1px solid;
}


.plot {
	font-style: italic;
	font-size: 0.9em;
}