.popover{
    max-width: 70%; /* Max Width of the popover (depending on the container!) */
}


span.title  {
	font-size: 1.2em;
	font-weight: bold;
}

span.action:hover {
	text-decoration: underline;
}

span.genre {
	color : YellowGreen;
}

span.cast {
	color : RoyalBlue;
}
div.movie {
	border: #bee5eb 1px solid;
}

td.poster {
	width : 25%;
}