

.blue {
    color: blue;
}

header {
	font-size: 1.5em;
	font-weight: bold;
}

.rjsf .field-array .row {
 margin-left : 20px;
}
.rjsf .array-item-toolbox .btn-group {
  width: min-content;
  height: min-content;
}
.rjsf .array-item-toolbox .btn {
  padding: 0px;
}

.rjsf .array-item-list {
  margin-left : 20px;
}
.rjsf .btn-add {
  padding: .10rem .30rem;
  margin-top: 3px;
}
.rjsf .array-item-list {
  display: block;
}
.rjsf .form-group {
  margin: 2px;
}